/**/target/
.project
.settings/
diagrams/
.classpath
/**/**/*.iml
/**/**/node_modules
/server/src/main/resources/static/
/src/main/webapp/dist
/src/main/webapp/polyfills.js
/src/main/webapp/src/**/*.js
/src/main/webapp/src/**/*.js.map
/src/main/webapp/dist/
database/
.idea/
/**/**/package-lock.json
.DS_Store
Thumbs.db
*.log
log.txt
npm-debug.log*
/.ionic
/.sass-cache
/.sourcemaps
/.versions
/.vscode
/coverage
/dist
/node_modules
/platforms
/plugins
/www
/mobile/plugins/*
